<h3>Histórico de Pedidos</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                Pedido
            </div>
            <div class="col-md-2">
                Data
            </div>
            <div class="col-md-6 text-center">
                Itens
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    Total
                </span>
            </div>
        </div>
    </div>
    <div class="panel-body">

        <div class="row row-center linha-produto">
            <div class="col-md-2">
                00001
            </div>
            <div class="col-md-2">
                01/12/2018
            </div>
            <div class="col-md-6 text-center">
                aaaaaaaaaaaaa
                <br />
                bbbbbbbbbbbbb
                <br />
                ccccccccccc
                <br />
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    R$ 100,00
                </span>
            </div>
        </div>
        <div class="row row-center linha-produto">
            <div class="col-md-2">
                00001
            </div>
            <div class="col-md-2">
                01/12/2018
            </div>
            <div class="col-md-6 text-center">
                aaaaaaaaaaaaa
                <br />
                bbbbbbbbbbbbb
                <br />
                ccccccccccc
                <br />
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    R$ 100,00
                </span>
            </div>
        </div>
        <div class="row row-center linha-produto">
            <div class="col-md-2">
                00001
            </div>
            <div class="col-md-2">
                01/12/2018
            </div>
            <div class="col-md-6 text-center">
                aaaaaaaaaaaaa
                <br />
                bbbbbbbbbbbbb
                <br />
                ccccccccccc
                <br />
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    R$ 100,00
                </span>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                -
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    R$ 500,00
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-success" asp-action="index" asp-controller="catalogo">
                Voltar ao Catálogo
            </a>
        </div>
    </div>
</div>

