body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.left.carousel-control,
.right.carousel-control {
    background-image: none;
    margin-top: 100px;
    margin-bottom: 100px;
}

.navbar-brand {
    background: url('../images/logo.png');
    width: 215px;
    height: 55px;
}

.navbar-inverse {
    background-color: #f8965d;
    border-color: white;
}

.row-center {
    display: flex;
    align-items: center;
}

.img-produto-catalogo {
    width: 100%;
}

.img-produto-carrinho {
    height: 120px;
    filter: drop-shadow(2px 2px 2px #ccc);
}

.linha-produto {
    margin: 20px;
}

.produto-nome {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.produto-footer {
    max-height: 140px;
}

.produto-nome {
}

/* Notification */

.container-notification {
    padding-top: 12px;
}

/* Notifications */

.user-count {
    display: inline-block;
    position: relative;
    padding: 0.08em;
    background: #f8965d;
    font-size: 1.2em;
}

    .user-count::before,
    .user-count::after {
        color: #fff;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }

    .user-count::before {
        display: block;
        content: "\f0f3";
        font-family: "FontAwesome";
        transform-origin: top center;
    }

.notification::before {
    display: block;
    content: "\f0f3";
    font-family: "FontAwesome";
    transform-origin: top center;
}

.user-count::after {
    font-family: Arial;
    font-size: 0.7em;
    font-weight: 700;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 4px 6px;
    line-height: 100%;
    border-radius: 60px;
    background: #3498db;
    opacity: 0;
    content: attr(data-count);
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    transition: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.notification.notify::before {
    -webkit-animation: ring 1.5s ease;
    animation: ring 1.5s ease;
}

.user-count.show-count::after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.userbasket::before {
    display: block;
    content: "\f07a";
    font-family: "FontAwesome";
    transform-origin: top center;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotate(35deg);
    }

    12.5% {
        -webkit-transform: rotate(-30deg);
    }

    25% {
        -webkit-transform: rotate(25deg);
    }

    37.5% {
        -webkit-transform: rotate(-20deg);
    }

    50% {
        -webkit-transform: rotate(15deg);
    }

    62.5% {
        -webkit-transform: rotate(-10deg);
    }

    75% {
        -webkit-transform: rotate(5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes ring {
    0% {
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }

    12.5% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }

    25% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }

    37.5% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }

    50% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    62.5% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    75% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.notification-message.unread::after {
    content: "\f0e0";
    font-family: "FontAwesome";
    font-weight: 400;
    font-size: 1.5em;
    vertical-align: central;
}

.notification-message.read::after {
    content: "\f2b6";
    font-family: "FontAwesome";
    font-weight: 400;
    font-size: 1.5em;
    vertical-align: central;
}

/*source:*/
/*https://www.w3schools.com/howto/howto_js_snackbar.asp*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #484; /* Black background color */
    color: #fff; /* White text color */
    font-weight: bold;
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}


.btn-addtobasket::before {
    content: "\f07a";
    font-family: "FontAwesome";
}
